/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titan+One&display=swap');
/*================General styles=======================*/
:root {
    --headercolour:#E52521;
    --bodycolour: #049CD8;
    --ink:black;
}


* {
    font-family: 'Titan One', cursive;
    padding:0;
    border:none;
    margin:0;
}

html {
    height:100%;
}

body {
    background-image: url("../media/blue-maze-background.webp"); 
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

/*=======================================Header styles===================*/
header {
    width:100%;
}

header div {
    background-color:var(--headercolour);
    min-height:40px;
    text-align: center;
    /*font-size: 2rem;*/
    color:var(--ink);
    width:100%;
}

/*==================================Timer styles==========================*/
#scores-region {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width:100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color:orange;
    padding:7px 0 7px 0;
    font-size:1rem;
}

.score {
    background-color: rgba(0,0,0,0.6);
    padding-left: 5px;
    padding-right:5px;
}

/*===============================styles for main play area================*/
#box-container {
    width:93%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    margin:0 auto;
}

.card {
    position: relative;
    width: calc(25% - 10px);
    margin: 05px; 
    text-align: center;
    font-size: 32px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

.blank-side {
    background-color: var(--headercolour);
    position:absolute;
    width:100%; 
}

.face-side {
    background-color: var(--headercolour);
    width:100%;
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);  
}

.turn {
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);
}

.resize-cards {
    width: calc(26% - 10px) !important;
}

/*==========================================styles for start/option buttons=======*/
#srt-ins-btn {
    margin-top: 20px;
}

#start-button-div {
    position: relative;
    width:100%;
    text-align: center;
}

#instructions-div {
    position: relative;
    width:100%;
    text-align: center;
    margin-top: 15px;
}

#instructions {
    background-color: var(--headercolour);
    color: var(--ink);
    border:2px solid var(--ink);
    border-radius: 10px;
    padding:5px;
}

#start {
    background-color: var(--headercolour);
    color: var(--ink);
    border:2px solid var(--ink);
    border-radius: 10px;
    padding:5px;
}

.startthrop {
    -webkit-animation-name: throp;
            animation-name: throp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes throp {
    0%{-webkit-transform: rotate(10deg);transform: rotate(10deg)}
    25%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
    75%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg)}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
}

@keyframes throp {
    0%{-webkit-transform: rotate(10deg);transform: rotate(10deg)}
    25%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
    75%{-webkit-transform: rotate(-10deg);transform: rotate(-10deg)}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
}

/*================styles for the instruction/options page ==================*/
#instruction-page {
    background-color:var(--bodycolour);
    color:var(--ink);
    height: 100vh;
    width:100%;
    position:absolute;
    top:-2000px;
    text-align: center;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
         -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
}

#inst-btn {
    text-align: center;
    position: relative;
    background-color: var(--bodycolour);
    margin: 16px auto;
    display: block;
    width:90%;
    font-size:1.2em;
    margin-top:10px;
    border: 2px solid black;
    border-radius:10px;
}

.show-instructions {
    top:0 !important;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
    -webkit-transition-timing-function:ease-in-out;
         -o-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out; 
}

#instruction-page p {
    margin: 10px auto;
}

#instruction-page h3 {
    margin: 15px auto;
    font-size:1.2em;
}

#easy-hard {
    border: 2px solid black;
    border-radius:10px;
    padding:5px;
    margin: 10px auto;
}

/*===================styles for modal screen=============*/
.modal-wrapper {
    background:rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 50;
    display:none;
}

.modal-box {
    text-align: center;
    width:50%;
    max-width:240px;
    margin:10% auto 10% auto;
    padding:20px;
    position:relative;
    background:lightsalmon;
}

.close {
    position: absolute;
    top:5px;
    right:5px;
    cursor:pointer;
}

/*=========================================================MEDIA QUERIES===================================*/
/*=========================================================================================================*/
/*=========================================================================================================*/
@media screen and (min-width:280px) {
    #scores-region {
        font-size:0.9rem;
    }

    #inst-btn {
        font-size:1.1rem;
    }
      
}

@media screen and (min-width:375px) {
    .resize-cards {
        width:calc(26% - 10px) !important;
    
      
    }
 
}
    
@media screen and (min-width:425px) {
    #box-container {
        width:98%;
    } 

    header {
        width:100%;
    }

    #scores-region {
        font-size: 1.3rem;;
    }

    #instruction-page {
        font-size:1.1rem;
    }

    .resize-cards {
        width:calc(26% - 10px) !important;
    }
}


@media screen and (min-width:768px) {


    #box-container {
        width: 97%;
    }

    .card {
        width:21%;
    }

    #instruction-page {
        font-size:1.2rem;
    }

    .resize-cards {
        width:calc(16% - 10px) !important;   
    }

}

@media screen and (min-width:1024px) {
    #box-container {
        width:50%;
        margin:1% 25%;
    }

    .card {
        font-size:32px;
        width:21%;
    }

    #scores-region {
        font-size: 2rem;
    }

    #instruction-page {
         font-size:1.3rem;
     }

    #instruct-p {
        width:75%;
    }

    .resize-cards {
        width:calc(16% - 10px) !important;  
    }

    #inst-btn {
        width:75%;
    }
    
}

@media screen and (min-width:1440px) {
  

    .resize-cards {
        width: calc(17% - 10px) !important;
    }

    #inst-btn {
        width:65%;
    }

}
 
@media screen and (min-width:1700px) {
    #box-container {
        width:50%;
        margin:0 25%;
        margin-top:140px;
    }

   .card {
        width: 15%;
    }

    #instruction-page p {
        margin: 13px auto;
    }
    
    #instruction-page h3 {
        margin: 20px auto;
    }

    .resize-cards {
        width: calc(15% - 10px) !important;
    }

}

@media screen and (min-width:1900px) {
    .card {
        width:calc(21% - 10px);
        font-size:40px;
    }

    .resize-cards {
        font-size:40px;
        width: calc(15% - 10px) !important;
    }

}
    

@media screen and (min-width:2100px) {
    #scores-region {
        margin-top:25px;
        font-size:2.5rem;
    }

    #srt-ins-btn {
        margin-top:50px;
        font-size:2.5rem;
    }

    #srt-ins-btn button {
        font-size:2rem;
    }

    #instructions-div {
        margin-top:40px;
    }

}

/*=======================landscape queries========================*/

@media screen and (orientation:landscape) and (min-height:250px)  and (max-height:280px) {
    .card {
        width:calc(13% - 1px);
        font-size:22px;
    }

    #start-button-div { /*move buttons inline */
        width:45%;
        left:-11%;
        margin-top:8px;
    }

    #start {
        margin-top:5px;
    }

    #instructions-div {
        right:-6%;
        width:45%;
        margin-top:8px;
    }

    #srt-ins-btn {
        margin-top:3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    #scores-region {
        font-size:0.75rem;
    }

    .resize-cards {
        width:calc(15% - 10px)!important;
    }

    #instruction-page {
         font-size:0.7rem;
     }

     #instruction-page h1, #instruction-page h3 {
        padding:0;
        margin:8px auto;
    }

    #instruction-page p {
        margin:8px auto;
    }
}


@media screen and (orientation:landscape) and (min-height:281px)  and (max-height:374px) {
    #box-container {
        margin-top: 8px;
    }

    #scores-region {
        font-size:0.8rem;
    }

    .card {
        width:calc(15% - 10px);
        font-size:35px;  
    }

    #start-button-div { /*move buttons inline */
        width:45%;
        left:-11%;
        margin-top:8px;
    }

    #instructions-div {
        right:-6%;
        width:45%;
        margin-top:8px;
    }

    #srt-ins-btn {
        margin-top:3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .resize-cards {
        width:calc(11% - 10px)!important;
        font-size: 35px;
    
    }

    #instruction-page {
         font-size:0.7rem;
     }

     #instruction-page h1, #instruction-page h3 {
        padding:0;
        margin:8px auto;
    }

    #instruction-page p {
        margin:8px auto;
    }

    #start {
        margin-top:10px;
    }
 
}

@media screen and (orientation:landscape) and (min-height:375px)  and (max-height:424px) {
    #scores-region {
        font-size:0.9rem;
    }

    .card {
        width:calc(21% - 10px);
        font-size:22px;  
    }

    #start-button-div { /*move buttons inline */
        left:-23%;
        width:45%;
        left:-11%;
    }
    
    #start {
        margin-top:3px;
    }

    #instructions-div {
        right:-6%;
        width:45%;
        margin-top:0;
    }

    #srt-ins-btn {
        margin-top:10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .resize-cards {
        width:calc(15% - 10px)!important; 
    }

    #instruction-page { 
         font-size:0.7rem;
     }

     #instruction-page h1, #instruction-page h3 {
        padding:0;
        margin:8px auto;
    }

    #instruction-page p {
        margin:8px auto;
    }
}

@media screen and (orientation:landscape) and (min-height:425px)  and (max-height:595px) {
    #srt-ins-btn {
        margin-top:20px;
    }

    #scores-region {
        font-size:1rem;
    }

    .card {
        width:calc(15% - 10px);
        font-size:32px;  
    }


    #instruction-page {
         font-size:0.8rem;
     }

     .resize-cards {
        width:calc(15% - 10px)!important;
      
    }

}

@media screen and (orientation:landscape) and (min-height:596px)  and (max-height:767px) {
    #srt-ins-btn {
        margin-top:20px;
    }

    #box-container {
        margin: 33px auto;
    }

    #scores-region {
        font-size:1rem;
    }

    .card {
        width:calc(16% - 10px);
        font-size:32px;  
    }

    #instruction-page {
         font-size:0.8rem;
     }

     .resize-cards {
        width:calc(15% - 10px)!important;
       
    }
}

@media screen and (orientation:landscape) and (min-height:768px)  and (max-height:850px) {
    #box-container {
        margin: 7% 20%;
        width:60%;
    }
    #srt-ins-btn {
        margin-top:20px;
    }

    #scores-region {
        font-size:2rem;
    }

    .card {
        width:calc(21% - 10px);
        font-size:33px;  
    }

    #instruction-page {
         font-size:1.5rem;
     }

    #inst-btn {
        font-size:1.2em;
    }

     .resize-cards {
        width:calc(16% - 10px)!important; 
    }
}   