:root {
    --headercolour:#E52521;
    --bodycolour: #049CD8;
    --ink:black;
}


* {
    font-family: 'Titan One', cursive;
    padding:0;
    border:none;
    margin:0;
}

html {
    height:100%;
}

body {
    background-image: url("../media/blue-maze-background.webp"); 
    height:100%;
}


header {
    width:100%;
}

header div {
    background-color:var(--headercolour);
    min-height:40px;
    text-align: center;
    /*font-size: 2rem;*/
    color:var(--ink);
    width:100%;
}

#scores-region {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
    color:orange;
    padding:7px 0 7px 0;
    font-size:1rem;
}
